@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&family=Charm:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&family=Charm:wght@400;700&family=Sen:wght@400..800&display=swap');

:root {
  --primary-color: #e4b022;
  --secondary-color: #ffffff;
  --tertiary-color: #000000;
  --H1-Desktop-font-size: 30px;
  --H1-Mobile-font-size: 25px;
  --H2-Desktop-font-size: 25px;
  --H2-Mobile-font-size: 20px;
  --Button-and-Input-desktop-font-size: 14px;
  --Button-and-Input-mobile-font-size: 16px;
  --Nav-Desktop-font-size: 16px;
  --Labels-and-footer-mobile-font-size: 14px;
  --Labels-and-footer-desktop-font-size: 16px;
  --Font-1: 'Charm', cursive;
  --Font-2: 'Sen', sans-serif;
}

.search-bar-layout {
  @apply flex flex-row items-center justify-center gap-2;
}

.search-input {
  @apply border-2 border-[var(--primary-color)] rounded-lg p-2 pl-8 pr-32;
}
.loading-symbol {
  @apply fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-xl text-black;
}

.logo {
  @apply rounded-full border-2 border-[var(--primary-color)];
}

.sidebar-styles {
  @apply flex flex-col items-center justify-center bg-black border-2 border-[var(--primary-color)] max-h-screen fixed overflow-y-auto;
}

.nav-styles {
  @apply flex flex-col items-center justify-center gap-2;
}

.nav-styles-hover {
  @apply flex flex-col items-start justify-center gap-2;
}
.sidebar-li-layout {
  @apply flex flex-row;
}

.span-text-hover {
  @apply flex flex-row text-[var(--secondary-color)];
}

.nav-hover {
  @apply w-[150px];
}

.link-flex {
  @apply flex flex-row items-center justify-center;
}
