@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&family=Charm:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&family=Charm:wght@400;700&family=Sen:wght@400..800&display=swap');

:root {
  --primary-color: #e4b022;
  --secondary-color: #ffffff;
  --tertiary-color: #000000;
  --H1-Desktop-font-size: 30px;
  --H1-Mobile-font-size: 25px;
  --H2-Desktop-font-size: 25px;
  --H2-Mobile-font-size: 20px;
  --Button-and-Input-desktop-font-size: 14px;
  --Button-and-Input-mobile-font-size: 16px;
  --Nav-Desktop-font-size: 16px;
  --Labels-and-footer-mobile-font-size: 14px;
  --Labels-and-footer-desktop-font-size: 16px;
  --Font-1: 'Charm', cursive;
  --Font-2: 'Sen', sans-serif;
}

.h1-desktop {
  @apply text-secondary;
  font-size: var(--H1-Desktop-font-size);
  font-family: var(--Font-1);
}

.h1-mobile {
  @apply text-secondary;
  font-size: var(--H1-Mobile-font-size);
  font-family: var(--Font-1);
}

.h2-desktop {
  @apply text-secondary;
  font-size: var(--H2-Desktop-font-size);
  font-family: var(--Font-1);
}

.h2-mobile {
  @apply text-secondary;
  font-size: var(--H2-Mobile-font-size);
  font-family: var(--Font-1);
}
.button-styles {
  @apply bg-primary text-secondary font-custom2 rounded-lg hover:shadow-custom;
}

.button-styles:active {
  @apply shadow-custom;
}
.gold-labels {
  @apply text-[var(--primary-color)] font-[var(--Font-1)];
}

.search-bar-layout {
  @apply flex flex-row items-center justify-center gap-2;
}

.search-input {
  @apply border-2 rounded-lg p-2 pl-12 pr-32 text-primary hover:bg-black hover:shadow-custom active:bg-black active:shadow-custom focus:bg-black focus:shadow-custom2 focus-within:bg-black focus-within:shadow-custom2;
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.flex-row-center {
  @apply flex flex-row items-center justify-center w-full;
}
.loading-symbol {
  @apply fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-xl text-black;
}

.logo {
  @apply rounded-full border-2 border-[var(--primary-color)];
}

.sidebar-styles {
  @apply flex flex-col items-center justify-center bg-black border-2 border-[var(--primary-color)] fixed top-0 overflow-y-auto;
}

.sidebar-height-when-closed {
  @apply max-h-[40%];
}

.sidebar-height-when-open {
  @apply h-screen;
}

.nav-styles {
  @apply flex flex-col items-center justify-center gap-2;
}

.nav-styles-hover {
  @apply flex flex-col items-start justify-center gap-2;
}
.sidebar-li-layout {
  @apply flex flex-row;
}

.span-text-hover {
  @apply flex flex-row text-[var(--secondary-color)];
}

.nav-hover {
  @apply w-[150px];
}

.link-flex {
  @apply flex flex-row items-center justify-center;
}

.listing-container-styles {
  @apply flex flex-col items-center  justify-center gap-2;
}

.listing-image-styles {
  @apply w-[20rem]  rounded-lg;
}

.seller-avatar-img {
  @apply w-[3rem] h-[3rem] rounded-full;
}
